.header-section{
    margin: auto;
    background-color: black;
	position: sticky;
	top: 0;
	z-index: 66;
}
.ul-list{
    text-align: center;
    margin: auto;
}
.ul-list li {
	display: flex;
	justify-content: center;
	padding: 10px 21px;
    color: white;
    font-size: 23px;
    font-weight: 700;
}
.active{
    color: white;
    background-color: blue;
}

/* banner-section start */

.banner-section .card img{
    transition: .4s;
    height: 205px;
}
.card-title {
	font-size: 23px;
	font-weight: 700;
	letter-spacing: 1px;
}
.text-muted {
	color: black;
	padding: 10px 0px;
}
.banner-section .card .card-body {
	border-top: 1px solid #444;
	text-align: center;
}
button {
	width: 120px;
	background-color: #2f2f71;
	padding: 8px;
	color: white;
	font-size: 20px;
	font-weight: 600;
	outline: none;
	border: 0;
	border-radius: 7px;
}
.banner-section .card{
    margin-bottom: 20px;
    transition: .4s;
    box-shadow: 2px 2px 8px rgb(245, 50, 50) , -2px -2px 8px rgb(115, 117, 221);
}
.banner-section .card:hover img{
    transform: scale(1.1);
}
.img-div{
    overflow: hidden;
    transition: .5s;
}
/* banner-section end */